[DEFAULT]
core_plugin = ml2
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_pass }}@{{ groups["nova_group"][0]}}:5672

[agent]
root_helper = "sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf"

[cors]

[database]
#connection = sqlite:////var/lib/neutron/neutron.sqlite

[keystone_authtoken]
auth_url = http://{{ groups["keystone_group"][0]}}:5000/v3
region_name = RegionOne
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = neutron
password = {{ neutron_pass }}

[matchmaker_redis]

[nova]

[oslo_concurrency]

[oslo_messaging_amqp]

[oslo_messaging_kafka]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]

[oslo_messaging_zmq]

[oslo_middleware]

[oslo_policy]

[quotas]

[ssl]
