[Unit]
Description=Start TightVNC server at startup
After=syslog.target network.target

[Service]
Type=simple
User=<USER>
Group=<USER>
WorkingDirectory=/home/<USER>
PAMName=login

PIDFile=/home/<USER>/.vnc/%H:%i.pid
ExecStartPre=/usr/bin/vncserver -kill :* > /dev/null 2>&1
ExecStart=/usr/bin/vncserver -depth 32 -geometry 1920x1080 -fg
ExecStop=/usr/bin/vncserver -kill

[Install]
WantedBy=multi-user.target
